// BLOG
//------------------------------------------------
//------------------------------------------------
.title-page {
  .content-title-blog {
    h1 {
      @include span-columns(9);
      @include bp(medium) {
           @include span-columns(12);

      }
    }
    .search-container {
      @include span-columns(3);
      margin-top: 50px;
      @include bp(medium) {
           @include span-columns(12);
           margin-top: 20px;
           margin-bottom: 20px;
      }
    }

  }
}


.blog-list {

  .blog-item {
    display: block;
    border-bottom: $base-border-gray;
    padding-bottom: 18px;
    h2 {
      margin-bottom: 6px;
    }

    .blog-date {
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    .blog-author {
      margin-bottom: 12px;
    }
    a {
      &:active,
      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }
}
