// INNER MAIN
//------------------------------------------------
//------------------------------------------------

#inner-main {
    background: $gray-lighter;
    padding-bottom: $padding-xlarge;

    section:nth-child(2) {
        margin-top: -80px;
    }

    .inner-box {
        padding: $padding-medium;
        background: #fff;
        @include border-radius($border-radius-base);
        @include box-shadow($box-shadow-inner);
    }

    .content {
        .content-primary {
            @include span-columns(9);
        }

        .content-nav {
            @include span-columns(3);

            h5 {
                font-size: 1.25rem;
                margin-bottom: 12px;
                color: $headings-font-color;
            }

            .inner-box {
                & > ul {
                    & > li {
                        & > a {
                            color: $gray-dark;

                            &:active,
                            &:focus,
                            &:hover {
                                color: $hover-link-color;
                            }
                        }

                        & > ul {
                            margin: 5px 0;
                            padding-left: 14px;
                            color: rgba($base-font-color-light, 0.7);
                            border-left: $base-border-gray;

                            li {
                                font-size: $font-size-medium;
                                margin-bottom: -2px;

                                ul {
                                    li {
                                        font-size: $font-size-small;

                                        &:before {
                                            color: rgba($base-font-color-light, 0.5);
                                            padding-left: 0;
                                            margin-right: 6px;
                                            content: "\2192";

                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                hr {
                  border: none;
                  height: 1px;
                  width: 60px;
                  background: $base-border-color-gray;
                  margin: 18px 0;
                }

                .help-us {
                  line-height: 1.1;
                  a {
                    font-size: $font-size-xsmall;
                    background: rgba($brand-tertiary, 0.15);
                    &:active,
                    &:focus,
                    &:hover {
                      text-decoration: none;
                    }

                    br {
                      height: 5px;
                    }
                  }
                }
            }
        }
    }
}
