// INNER MAIN
//------------------------------------------------
//------------------------------------------------
#inner-main {
  background: $gray-lighter;
  padding-bottom: $padding-xlarge;

  .inner-box {
    padding: $padding-medium;
    background: #fff;
    @include border-radius($border-radius-base);
    @include box-shadow($box-shadow-inner);
  }

}
