// DOCUMENTATION
//------------------------------------------------
//------------------------------------------------

#inner-main {
    .table-of-content {
        margin-bottom: $padding-medium;

        .inner-box {
            padding-bottom: 0;
        }
    }
}

.documentation {
    @include clearfix;

    .doc-item {
        @include span-columns(4);
        @include omega(3n);
        margin-bottom: $padding-medium;
        min-height: 120px;
        padding: 15px;
        @include bp(large) {
             @include span-columns(12);
             min-height: auto;
        }

        .doc-item-header {
            @include display(flex);
            @include align-items(center);
            @include justify-content(flex-start);
            margin-bottom: 10px;

            .fa {
                font-size: 1.563rem;
                margin-right: 14px;
                color: $brand-primary;
            }

            h4 {
                color: $headings-font-color;
                margin-bottom: 0;
                transition: $base-transition;
            }

            a {
              &:active,
              &:focus,
              &:hover {
                text-decoration: none;
              }
            }
        }

        .doc-item-main {
            p {
                color: $base-font-color;
            }
        }

        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
            background: $gray-lighter;

        }
    }
}

.community {
  @include clearfix;
  .discourse,
  .gitter {
    h3 {
      margin-top: 0;
    }
    @include span-columns(6);
    span {
      border-bottom: $base-border-gray;
      display: block;
      color: $base-font-color-light;
      font-style: italic;
      padding-bottom: 10px;
    }
  }
}
