// TYPE MD
//------------------------------------------------
//------------------------------------------------

.content-primary,
.table-of-content,
.books,
.training-events {
    h2,
    h3 {
        font-weight: $font-regular;
        margin-top: 28px;
    }

    h2,
    h3,
    h4,
    h5 {
        color: $headings-font-color;
        font-weight: $font-bold;

        a {
          color: $headings-font-color;

          &:active,
          &:focus,
          &:hover {
            color: $brand-primary;
          }
        }
    }

    h2 {
        font-size: 1.875rem
    }

    h3 {
        font-size: 1.5rem;
    }

    h4,
    h5 {
        font-size: 1.063rem;
        font-family: $base-font-family;
        text-transform: uppercase;
        font-weight: $font-bold;
    }
}

.content-primary {
    h2 {
        margin-bottom: 24px;
        border-bottom: $base-border-gray;
        padding-bottom: 8px;
    }

    h3,
    h4,
    h5,
    p,
    pre,
    ul,
    table,
    img,
    blockquote  {
        margin-bottom: 18px;
    }

    ol,
    ul {
        padding-left: 18px;
    }

    ol {
        li {
            list-style: decimal;
        }
    }

    ul {
        li {
            list-style: disc;
        }
    }

    ol,
    ul {
        li {
            padding-left: 10px;
            margin-bottom: 16px;

            ul {
                margin-top: 18px;

                li {
                    margin-bottom: 8px;
                    list-style: circle;
                    padding-left: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: $font-bold;
    }

    del {
        text-decoration: line-through;
    }

    p,
    li {
      code {
        @include border-radius($border-radius-small);
        font-size: $font-size-medium;
        background: $gray-lighter;
        color: $base-font-color-light;
        padding: 0 6px;
        margin: 0 4px;
      }
    }

    pre {
      margin-bottom: 36px;
      code {
          padding: 20px;
          font-size: $font-size-medium;
          @include border-radius($border-radius-base);
      }
    }

    table {
        width: 100%;
        text-align: left;

        thead {
          font-weight: $font-bold;
        }

        th,
        td {
          border-bottom: $base-border-gray;
          padding: 6px 0;
        }
    }

    img {
      width: 100%;
      height: auto;
    }

    blockquote {
      padding: 20px;
      border: 2px dashed $base-border-color-gray;
      font-size: $font-size-large;
      font-style: italic;
      @include border-radius($border-radius-base);
      p {
        margin: 0;
      }
    }


}
