// TYPE MD
//------------------------------------------------
//------------------------------------------------


.content-primary,
.table-of-content {

  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.125rem;
    font-family: $base-font-family;
    text-transform: uppercase;
  }


}
